{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Geologica:wght@100;200;300;400;500;600;700;800&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Carme&family=Inter:wght@100..900&family=League+Spartan:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Carme&family=Inter:wght@100..900&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Carme&family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">


    {% block css_additional %}
    <link type="text/css" href="{% static 'mq/css/style.css' %}" rel="stylesheet" />

    <link type="text/css" href="{% static 'mq/css/animate.css' %}" rel="stylesheet" />
    {% endblock %}


    <title>Mediqueque</title>
</head>

<body class="body">
<!--python -m venv venv   .\venv\Scripts\activate       cd mediqueue
python manage.py runserver-->
    <!-- Шапка -->
    <main>
        <section class="topnav">
            <div class="navuphead">
                <div class="time">
                    <div class="headerimg1 wow bounceInLeft">
                        <img src="{% static 'mq/images/timeofwork.png' %}" alt="">
                    </div>
                    <div class="wow bounceInLeft textheader">Время работы: пн-пт с 9:00 до 21:00 сб-вс с 10:00 до
                        20:00
                    </div>
                </div>
                <div class="geo">
                    <div class="headerimg2 wow bounceInDown">
                        <img src="{% static 'mq/images/geoposition.png' %}" alt="">
                    </div>
                    <div class="wow bounceInDown textheader">Адрес: ул.Букирева, 15</div>
                </div>
                <div class="phone">
                    <div class="headerimg3 wow bounceInRight">
                        <img src="{% static 'mq/images/telephone.png' %}" alt="">
                    </div>
                    <div class="wow bounceInRight textheader">Тел: +7 (999) 999 99 99</div>
                </div>
            </div>
        </section>

        <section class="aboutcontainer wow fadeInUp">
            <div class="line">
                <div class="logo wow zoomIn">
                    <img src="{% static 'mq/images/logo.png' %}" alt="">
                </div>
                <div class="nav">
                    <a class="nav-item" href="@">Главная страница</a>
                    <a class="nav-item" href="@">О клинике</a>
                    <a class="nav-item" href="@">Наши врачи</a>

                    <button class="nav-item" id="open-modal-btn-login">
                        <img src="{% static 'mq/images/loggg.png' %}" class="regicon">
                        Вход
                    </button>
                    <button class="nav-item" id="open-modal-btn-registration">
                        <img src="{% static 'mq/images/registrat.png' %}" class="regicon">
                        Регистрация
                </div>
            </div>

            <div class="info">
                <div class="bottomnuv">
                    <div class="woman wow fadeInLeft">
                        <img src="{% static 'mq/images/woman.png' %}" class="people">
                    </div>
                    <div class="slide-info">
                        <div class="slide-ellipse">
                            <div class="textsettings">
                                <div class="titleinfo">Платные медицинские услуги</div>
                                <div class="subtitleinfo">
                                    Услуги, предоставляемые дополнительно к бесплатным медицинским услугам
                                    в соответствии с действующим законодательством. Не подменяют гарантированную
                                    гражданам бесплатную медицинскую помощь.
                                </div>
                            </div>

                            <button class="textbtn">Подробнее</button>

                        </div>
                    </div>
                    <div class="zapis">
                        <div class="titlezapis">Запись на приём к врачу</div>
                        <div class="subtittlezapis"><button class="registrationbtn"
                                id="open-modal-btn-registration2">Зарегистрируйтесь</button> на сайте
                            или <button class="registrationbtn" id="open-modal-btn-login2">авторизуйтесь</button>
                            для
                            возможности записаться.
                        </div>

                        <button class="zapis-text wow pulse" id="open-modal-btn"><img
                                src="{% static 'mq/images/health.png' %}" class="health">Записаться<img
                                src="{% static 'mq/images/arrow-right.png' %}" class="arrow"></button>

                    </div>
                    <div class="man wow fadeInRight">
                        <img src="{% static 'mq/images/man.png' %}" class="people2">
                    </div>
                </div>
            </div>
        </section>
        <section class="rowlbockinfo">
            <section class="columblockinfo1">
                <div class="block-1 wow fadeInLeftBig">
                    <div class="circle-1">
                        <h1 class="tittle-1">Медицинские специализации и услуги</h1>
                        <p class="subtitle-1">Мы предлагаем широкий спектр медицинских услуг, охватывающих различные
                            специализации и
                            направления, чтобы удовлетворить потребности каждого нашего пациента.</p>
                    </div>
                </div>
                <div class="block-2 wow fadeInLeftBig">
                    <div class="circle-1">
                        <h1 class="tittle-1">Диагностические процедуры</h1>
                        <p class="subtitle-1">Наши опытные специалисты проводят самые современные методы диагностики,
                            чтобы
                            обеспечить точное и своевременное выявление заболеваний и состояния здоровья наших
                            пациентов.</p>
                    </div>
                </div>
                <div class="block-3 wow fadeInLeftBig">
                    <div class="circle-1">
                        <h1 class="tittle-1">Лечебные процедуры и терапии</h1>
                        <p class="subtitle-1">Мы предлагаем эффективные и индивидуально подобранные лечебные методы и
                            терапии,
                            направленные на восстановление здоровья и улучшение качества жизни наших пациентов.</p>
                    </div>
                </div>
            </section>
            <section class="columblockinfo2">
                <div class="block-4 wow fadeInRightBig">
                    <div class="circle-1">
                        <h1 class="tittle-1">Профилактические программы и консультации</h1>
                        <p class="subtitle-1"> Мы поддерживаем программы профилактики и предоставляем консультации по
                            поддержанию
                            здоровья и предотвращению заболеваний, чтобы наши пациенты могли оставаться здоровыми и
                            активными.
                        </p>
                    </div>
                </div>
                <div class="block-5 wow fadeInRightBig">
                    <div class="circle-1">
                        <h1 class="tittle-1">Условия приема и комфорт для пациентов</h1>
                        <p class="subtitle-1">Мы создаем комфортные условия для наших пациентов, обеспечивая удобный
                            график
                            работы,
                            простую процедуру записи на прием и заботливое отношение нашего персонала во время каждого
                            визита.
                        </p>
                    </div>
                </div>
                <div class="block-6 wow fadeInRightBig">
                    <div class="circle-1">
                        <h1 class="tittle-1">Стоимость услуг и страховое обслуживание</h1>
                        <p class="subtitle-1">Мы стремимся сделать наши услуги доступными для всех. Мы предлагаем
                            информацию о
                            ценах
                            на услуги и работаем с различными страховыми планами, чтобы обеспечить финансовую поддержку
                            нашим
                            пациентам.</p>
                    </div>
                </div>
        </section>
        </section>
    </main>



    <!-- Модальное окно выбора врача -->

    <div class="modal" id="my-modal">
        <div class="modal__box">
            <button class="modal__close-btn" id="close-my-modal-btn">
                <svg width="23" height="25" viewBox="0 0 23 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M2.09082 0.03125L22.9999 22.0294L20.909 24.2292L-8.73579e-05 2.23106L2.09082 0.03125Z"
                        fill="#333333" />
                    <path d="M0 22.0295L20.9091 0.0314368L23 2.23125L2.09091 24.2294L0 22.0295Z" fill="#333333" />
                </svg>
            </button>
            <div class="titledoc">
                <h1 class="titletextdoc">Выберете врача для записи:

                    <div class="vibordoctor">
                        <div class="rowvibordoctor">
                            <div class="colvibordoctor">
                                <button class="doctor1stolbik">Терапевт</button>
                                <button class="doctor1stolbik">Гинеколог</button>
                                <button class="doctor1stolbik">Офтальмолог</button>
                                <button class="doctor1stolbiklower">Невролог</button>
                            </div>
                            <div class="colvibordoctor">
                                <button class="doctor">Стоматолог</button>
                                <button class="doctor">Кардиолог</button>
                                <button class="doctor">Уролог</button>
                                <button class="doctorlower">Дерматолог</button>
                            </div>
                            <div class="colvibordoctor">
                                <button class="doctor">Психолог</button>
                                <button class="doctor">Онколог</button>
                                <button class="doctor">Диетолог</button>
                                <button class="doctorlower">Рентгенолог</button>
                            </div>
                        </div>
                    </div>
                </h1>
            </div>
        </div>
    </div>

    <!-- Модальное окно регистрации -->

    <div class="modal" id="my-modal-registr">
        <div class="modal__box">
            <button class="modal__close-btn" id="close-my-modal-btn-reg">
                <svg width="23" height="25" viewBox="0 0 23 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M2.09082 0.03125L22.9999 22.0294L20.909 24.2292L-8.73579e-05 2.23106L2.09082 0.03125Z"
                        fill="#333333" />
                    <path d="M0 22.0295L20.9091 0.0314368L23 2.23125L2.09091 24.2294L0 22.0295Z" fill="#333333" />
                </svg>
            </button>
            <div class="registration-box">
                <form id="registration-form" method="post" action="/register/">
                    <h1 class="Registration-text">Регистрация</h1>
                    <input class="registration-elements" id="phone-num" name="phone_num" type="text" placeholder="Введите номер телефона">
                    <input class="registration-elements" id="mail" name="email" type="text" placeholder="Введите почту">
                    <input class="registration-elements" id="password" name="password" type="text" placeholder="Введите пароль">
                    <input class="registration-elements" id="years" name="years" type="text" placeholder="ДД.MM.ГГГГ">
                    <input class="registration-elements" id="fio" name="fio" type="text" placeholder="Фамилия Имя Отчество">
                    <div id="registration-message" style="display: none;"></div>
                    <button class="registr-btn" id="submit-reg" type="submit">Зарегистрироваться</button>
                </form>
            </div>
    </div>

    <!-- Модальное окно авторизации -->

    <div class="modal" id="my-modal-autorization">
        <div class="modal__box">
            <button class="modal__close-btn" id="close-my-modal-btn-aut">
                <svg width="23" height="25" viewBox="0 0 23 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M2.09082 0.03125L22.9999 22.0294L20.909 24.2292L-8.73579e-05 2.23106L2.09082 0.03125Z"
                        fill="#333333" />
                    <path d="M0 22.0295L20.9091 0.0314368L23 2.23125L2.09091 24.2294L0 22.0295Z" fill="#333333" />
                </svg>
            </button>
            <div class="registration-box">
                <h1 class="Registration-text">Вход</h1>
                <input class="registration-elements" id="phone-num" type="text" placeholder="Введите почту">
                <input class="registration-elements" id="phone-num" type="text" placeholder="Введите пароль">
                <button class="registr-btn" id="submit-login" type="submit">Войти</button>
                <h1 class="question">У вас нет аккаунта?</h1>
                <button class="subreg" id="open-modal-btn-registration3">Зарегистрироваться</button>
                </button>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="{% static 'mq/scripts/index.js' %}"></script>
    <script src="{% static 'mq/scripts/registration_scripts.js' %}"></script>
    <script src="{% static 'mq/scripts/modal_scripts.js' %}"></script>

    <script src="{% static 'mq/scripts/wow.min.js' %}"></script>
    <script>
        new WOW().init();
    </script>

</body>