@import "https://fonts.fontstorage.com/import/sansation.css";

/* ШАПКА */


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;*/
}

.body {
    display: flex;
    justify-content: center;
    margin: 0px;
}

header {

    width: 100rem;
}

.topnav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100rem;
}


.navuphead {
    display: flex;
    justify-content: center;
    align-items: center;
}

.textheader {
    font-family: "Sansation";
    font-weight: 400;
    font-size: 1.2rem;
    text-align: center;
    color: #4f4f4f;
    margin-left: 0.2rem;
}

.headerimg2 {
    display: flex;
}

.headerimg1 {
    display: flex;
}

.headerimg3 {
    display: flex;
}

.time {
    display: flex;
}

.geo {
    display: flex;
    margin-left: 8rem;
}

.phone {
    display: flex;
    margin-left: 8rem;
}

.aboutcontainer {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.25);
    border-radius: 90px;
    background: linear-gradient(90deg, #67f6ee, #4d82b8);
    margin-left: auto;
    margin-right: auto;
}

.line {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid white;

}

.regicon {
    width: 1.5rem;
    height: 1.5rem;
}

.nav-item {
    font-family: "Inter";
    font-weight: 400;
    font-size: 1.5rem;
    color: #FFFFFF;
    margin-left: 5rem;
    text-decoration: none;
    background-color: transparent;
    border: none;
}




.bottomnuv {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.woman {
    display: flex;
}



.slide-ellipse {
    width: 30rem;
    height: 25rem;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFFFFF;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}



.titleinfo {
    font-family: "Sansation";
    font-weight: 400;
    font-size: 1.3rem;
    text-align: center;
    color: black;
    padding: 1rem;
}

.subtitleinfo {
    font-family: "Sansation";
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    color: #5b5b5b;
    padding: 0.5rem;

}


.textbtn {
    font-family: "Inter";
    display: flex;
    background-color: #FFFFFF;
    border-radius: 133px;
    width: 12rem;
    height: 3rem;
    font-weight: 700;
    font-size: 1.35rem;
    color: #1fbab5;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    border: 3px solid rgba(31, 186, 181, 0.2);
    justify-content: center;
    align-items: center;
}

.zapis {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 5rem;
}

.titlezapis {

    font-family: "Sansation";
    font-weight: 700;
    font-size: 2.5rem;
    color: #FFFFFF;
    margin-bottom: 1rem;
}

.subtittlezapis {
    text-align: center;
    color: #FFFFFF;
    font-family: "Sansation";
    font-weight: 400;
    font-size: 1.25rem;
    margin-bottom: 1.5rem;
}

.registrationbtn {
    color: #faff00;
    text-decoration: none;
    background-color: transparent;
    border: none;
    font-family: "Sansation";
    font-weight: 400;
    font-size: 1.25rem;

}

.zapis-text {
    font-family: "Inter";
    align-items: center;
    display: flex;
    background-color: #FFFFFF;
    border-radius: 133px;
    width: 18rem;
    justify-content: center;
    justify-content: space-around;
    height: 4.5rem;
    font-weight: 600;
    font-size: 1.5rem;
    color: #1fbab5;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    border: 3px solid rgba(31, 186, 181, 0.25);
}

/* модальное окно выбора врача */

.modal {
    position: fixed;
    display: flex;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 99998;
    background-color: rgba(0, 0, 0, .3);
    display: grid;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    visibility: hidden;
    opacity: 0;
    transition: opacity .2s, visibility .2s;
}

.modal__box {
    display: flex;
    
    border-radius: 25px;
    position: relative;
    max-width: 900px;
    padding: 75px;
    z-index: 1;
    margin: 30px 15px;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(100px);
    box-shadow: 0px 0px 17px -7px rgba(34, 60, 80, 0.2);
    border: 2px solid rgba(255, 255, 255, .2);
    transform: scale(0);
    transition: transform .3s;
}

.modal__close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    border: none;
    background-color: transparent;
    padding: 5px;
    cursor: pointer;
}

.modal__close-btn svg path {
    transition: fill .2s;
}

.modal__close-btn:hover svg path {
    fill: #c40a4a;
}

.modal__close-btn:active svg path {
    fill: #0b4047;
}

.modal.open {
    visibility: visible;
    opacity: 1;
}

.modal.open .modal__box {
    transform: scale(1);
}

.titledoc{
    display: flex;
    justify-content: center;
    
}

.titletextdoc{
    font-family: "Sansation";
    text-align: center;
    color: #8c8787;
    font-weight: 700;
    font-size: 2.5rem;
}
.vibordoctor{
    margin-top: 2.5rem;
}

.rowvibordoctor {
    display: flex;

}

.colvibordoctor {
    display: flex;
    flex-direction: column;

}


.doctor {
    width: 10.6875rem;
    height: 2.67187rem;
    border-radius: 133px;
    background-color: #FFFFFF;
    stroke-width: 3px;
    border-color: rgba(31, 186, 181, 0.4);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    margin-left: 5rem;
    margin-bottom: 5rem;
    text-align: center;
    color: #1fbab5;
    font-weight: 700;
    font-family: "Inter";
    font-size: 1.25rem;
}

.doctorlower {
    width: 10.6875rem;
    height: 2.67187rem;
    border-radius: 133px;
    background-color: #FFFFFF;
    stroke-width: 3px;
    border-color: rgba(31, 186, 181, 0.4);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    margin-left: 5rem;
    text-align: center;
    color: #1fbab5;
    font-weight: 700;
    font-family: "Inter";
    font-size: 1.25rem;
}

.doctor1stolbik {
    margin-bottom: 5rem;
    width: 10.6875rem;
    height: 2.67187rem;
    border-radius: 133px;
    background-color: #FFFFFF;
    stroke-width: 3px;
    border-color: rgba(31, 186, 181, 0.4);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    text-align: center;
    color: #1fbab5;
    font-weight: 700;
    font-family: "Inter";
    font-size: 1.25rem;
}

.doctor1stolbiklower {
    width: 10.6875rem;
    height: 2.67187rem;
    border-radius: 133px;
    background-color: #FFFFFF;
    stroke-width: 3px;
    border-color: rgba(31, 186, 181, 0.4);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    text-align: center;
    color: #1fbab5;
    font-weight: 700;
    font-family: "Inter";
    font-size: 1.25rem;
}

/* модальное окно регистрации и авторизации */

.registartion-box{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Registration-text{
    margin-bottom: 2rem;
    text-align: center;
    color: #000;
    font-weight: 700;
    font-family: "Sansation";
    font-size: 2.5rem;
}


.registration-elements{
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    width: 26rem;
    height: 3.5rem;
    margin-bottom: 2rem;
    background-color: #FFFFFF;
    border-radius: 50px;
    border: 1px solid #d8e4f5;
    font-weight: 400;
    color: #126F75;
    text-transform: capitalize;
    font-size: 1.25rem;
    font-family: "Inter";
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.10);
}

.registration-elements:focus{
    outline: none;
    border: 1px solid #d8e4f5;
}

.registr-btn{
    width: 16rem;
    height: 4.125rem;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    border-radius: 133px;
    border: 3px solid rgba(31, 186, 181, 0.2);
    background-color: #FFFFFF;
    text-align: center;
    color: #1fbab5;
    font-family: "Sansation";
    font-weight: 700;
    font-size: 1.3rem;
}

.subreg{
    border: none;
    font-size: 1.2rem;
    color:#0019fa;
    font-weight: 400;
    font-family: "Inter";
    text-align: center;
}

.question{
    margin-top: 1.5rem;
    font-size: 1.3rem;
    font-weight: 500;
    font-family: "Inter";
    text-align: center;
}

/* Блок информации */

.block-1{
    display: flex;
    margin-top: 5rem;
    flex-direction: row;
}

.circle-1{
    
    width: 48.5625rem;
    height: 26.1875rem;
    border-radius: 133px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    border: 10px solid rgba(31, 186, 181, 0.25);
}

.tittle-1{
    text-align: center;
    font-weight: 700;
    color:#000;
    font-size: 2.5rem;
    font-family: "Sansation";
    padding: 1.5rem;
}

.subtitle-1{
    color: #7c6e6e;
    font-family: "Sansation";
    font-weight: 700;
    font-size: 1.6rem;
    text-align: center;
    padding: 0.7rem;
}

.block-2{
    display: flex;
    margin-top: 5rem;
    flex-direction: row;
    justify-content: flex-end;
}

.block-3{
    display: flex;
    margin-top: 5rem;
    flex-direction: row;
    justify-content: flex-start;
}

.block-4{
    display: flex;
    margin-top: 5rem;
    flex-direction: row;
    justify-content: flex-end;
}

.block-5{
    display: flex;
    margin-top: 5rem;
    flex-direction: row;
    justify-content: flex-start;
}

.block-6{
    display: flex;
    margin-top: 5rem;
    flex-direction: row;
    justify-content: flex-end;
}


