* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;*/
}

.body {
    margin: 0px;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    column-gap: 75rem;
    background: linear-gradient(90deg, #63e7e7, #4d82b8);

}
.header-logo{
    display: flex;
}

.header-logo-imagee{
    width: 2.5rem;
    height: 2.5rem;
}

.account-info{
    display: flex;
    flex-direction: row;
    padding: 6.5rem;
}



.avatar-icon-and-btn{
    display: flex;
    flex-direction: column;
}

.exit-btn{
    background-color: rgba(237, 46, 46, 0.7);
    margin-top: 3rem;
    width: 14rem;
    height: 4rem;
    border-radius: 133px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    border: 3px solid rgba(31, 186, 181, 0.2);
    color:#ffffff;
    font-weight: 600;
    font-family: "Inter";
    font-size: 2rem;
    text-align: center;
}

.info-bar{
    display: flex;
    justify-content: space-between;
    padding: 3rem;
    max-width: 2000px;
}

.info-bar-item{
    font-weight: 600;
    font-family: "Inter";
    font-size: 1.8rem;
    color: #000;
    text-decoration: underline;

    text-underline-offset: 10px;

}

.zapisi-info{
    padding-left: 3rem;
    display: flex;
    flex-direction: column;
    font-weight: 600;
    font-family: "Inter";
    font-size: 2rem;
    color:#000
}

.your-zapisi{
    display: flex;
    padding-left: 1rem;
}

.your-zapisi-info{
    display: flex;
    flex-direction: row;
    margin-left: 3%;
    font-weight: 500;
    font-size: 2rem;
    color: #971515;
    font-family: "Inter";
    margin-top: 1rem;
}

.info-and-zapis{
    display: flex;
    width: 100%;
    flex-direction: column;
}

.btn-otmena{
    margin-left: 2%;
    width: 11rem;
    height: 2.6rem;
    text-align: center;
    border-radius: 133px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background-color: #ffffff;
    border: 3px solid rgba(31, 186, 181, 0.2);
    margin-top: 1.3rem;
    align-items: center;
    font-weight: 600;
    font-family: "Inter";
    font-size: 1.5rem;
    color: #1fbab5;
}
